@font-face
{
    src: url('./assets/UbuntuMono.ttf');
    font-family: 'Ubuntu mono';
}

body
{
    margin: 0;
    background-color: #161616;
}
.centered
{
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}